body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btnContainer {
    display: flex;
    margin-top: 30px;
    height: 15vh;
    gap: 50px;
    align-items: center;
    justify-items: center;
    width: auto;
}

.resultContainer {
    border-style:groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 30px;
    background-color: lightyellow;
    color: red;
    font-style: italic;
    font-weight: bold;
    width: 300px;
    height: 50px;
    margin: 40px;
    text-align: center;
    padding: 60px;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: larger;
}

.robot,.human {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#humanScore, #robotScore {
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.options,
.optionsAgain,
.optionsAfterGame {
    width: 20vw;
    max-width: 100px;
    height: 10vh;
    border-radius: 40px;
    outline: solid 2px black;
    transition: outline 0.1s linear;
    margin: 1em;
    font-size: auto;
    background-color: white;
}

.options:hover,
#playAgain:hover {
    outline-width: 5px;
    cursor: crosshair;
}

#playAgain {
    background-color: blue;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 40px;
    margin: 40px;
}